* {
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  width: 60%;
  height: 500px;
  margin: 50px auto;
}

.carousel__slides-container {
  position: relative;
  height: 100%;
  overflow: hidden;
  background-color: lightcoral; /* just for the test */
}
.carousel__slides {
  position: relative;
  height: 100%;
  list-style: none;
  transition-duration: 1s;
}
.carousel__slide {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
}
.carousel__button--left {
  left: -50px;
}
.carousel__button--right {
  right: -50px;
}
.carousel__button img {
  max-width: 40px;
}
.carousel__nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px 0;
}
.carousel__indicator {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.carousel__indicator.current-indicator {
  background: rgba(0, 0, 0, 0.75);
}
